

/* edit */
p.moduleText           {font-size:1.67em; margin:.5em 0}

span.multipleChoice {
margin-top:0; 
margin-bottom:0; 
font-size:1.67em; 
line-height:1.2em;
margin-left: 30px;
display: block;
}

ul.q                   {margin-top:0; margin-bottom:.5em; font-size:1.67em; line-height:1.3em; }

p.score-icon        {color:#fff; font-size:2em; margin-bottom:0px; padding-bottom:0px; line-height:.5em; margin-top:18px;}



